button {
  padding: 8.5px 20px 8.5px 20px;
}
.card-container {
  margin-top: 10%;
  width: 80%;
}
.card-body {
  padding-left: 0%;
  padding-right: 0%;
}
.d-flex {
  justify-content: space-between;
}
