$title-font: "Roboto";
$title-font-size: 20px;
$title-font-weight: 700;
$title-line-height: 24px;
//item
$item-font: "Open Sans";
$item-font-size: 16px;
$item-font-style: "normal";
$item-font-weight: 600;
$item-font-line-height: 21px;
//boton
$button-font: "Open Sans";
$button-font-size: 16px;
$button-font-style: "normal";
$button-font-weight: 600;
$button-font-line-height: 21px;
//select
$select-font: "Open Sans";
$select-font-size: 16px;
$select-font-style: "normal";
$select-font-weight: 400;
$select-font-line-height: 21px;
